/Hack-A-Thon/.vs
/Hack-A-Thon/Hack-A-Thon.Server/obj
/Hack-A-Thon/Hack-A-Thon.Server/bin
/Hack-A-Thon/Hack-A-Thon.Client/obj
/Hack-A-Thon/Hack-A-Thon.Client/bin
/Hack-A-Thon/Hack-A-Thon.Shared/obj
/Hack-A-Thon/Hack-A-Thon.Shared/bin
/Hack-A-Thon/Hack-A-Thon.Tests/obj
/Hack-A-Thon/Hack-A-Thon.Tests/bin
/Hack-A-Thon/Hack-A-Thon.Tests/TestResults
/.idea
/Hack-A-Thon/Hack-A-Thon.Server/bin
/Hack-A-Thon/Hack-A-Thon.Server/bin/Debug/net9.0
/Hack-A-Thon/Hack-A-Thon.Server/bin/Debug
Hack-A-Thon/Hack-A-Thon.Server/bin/Debug/net9.0/Hack-A-Thon.Server.dll
Hack-A-Thon/Hack-A-Thon.Server/bin/Debug/net9.0/Hack-A-Thon.Server.exe
Hack-A-Thon/Hack-A-Thon.Server/bin/Debug/net9.0/Hack-A-Thon.Server.pdb
Hack-A-Thon/Hack-A-Thon.Server/obj/Debug/net9.0/apphost.exe
Hack-A-Thon/Hack-A-Thon.Server/obj/Debug/net9.0/Hack-A-Thon.Server.AssemblyInfoInputs.cache
Hack-A-Thon/Hack-A-Thon.Server/obj/Debug/net9.0/Hack-A-Thon.Server.csproj.FileListAbsolute.txt
Hack-A-Thon/Hack-A-Thon.Server/obj/Debug/net9.0/Hack-A-Thon.Server.dll
Hack-A-Thon/Hack-A-Thon.Server/obj/Debug/net9.0/Hack-A-Thon.Server.pdb
Hack-A-Thon/Hack-A-Thon.Server/obj/Debug/net9.0/Hack-A-Thon.Server.sourcelink.json
Hack-A-Thon/Hack-A-Thon.Server/obj/Debug/net9.0/ref/Hack-A-Thon.Server.dll
Hack-A-Thon/Hack-A-Thon.Server/obj/Debug/net9.0/refint/Hack-A-Thon.Server.dll
Hack-A-Thon/Hack-A-Thon.Server/obj/Debug/net9.0/rjsmcshtml.dswa.cache.json
Hack-A-Thon/Hack-A-Thon.Server/obj/Debug/net9.0/rjsmrazor.dswa.cache.json
