.card {
    background: #e0dede00;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.card-image {
    width: 100%;
    height: auto;
    /* Or auto */
    object-fit: contain;
    transition: transform 0.3s ease;
}

.card:hover .card-image {
    transform: scale(1.05);
    transform: translateY(-4px);
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
}

.card-content {
    background-color: #c2c2c2;
    padding: 1rem;
}

.card-content h3 {
    margin: 0 0 0.5rem;
}

.card-content p {
    margin: 0.25rem 0;
    color: #000000;
    font-size: 0.9rem;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal-content {
    background: rgb(255, 255, 255);
    padding: 2rem;
    border-radius: 10px;
    max-width: 500px;
    width: 90%;
    color: #000000;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    position: relative;
}